.sprite { background: url('../img/iconos_gap.png') no-repeat top left; width: 24px; height: 24px;  } 
.sprite.About { background-position: 0 0; } 
.sprite.Attention { background-position: -24px 0; } 
.sprite.Bebo{background-position:-48px 0;}
.sprite.Box{background-position:-72px 0;}
.sprite.Briefcase{background-position:-96px 0;}
.sprite.Calendar{background-position:-120px 0;}
.sprite.Camera{background-position:-144px 0;}
.sprite.Cancel{background-position:-168px 0;}
.sprite.Cancel2{background-position:-192px 0;}
.sprite.Checked{background-position:-216px 0;}
.sprite.CheckedCheckbox2{background-position:-240px 0;}
.sprite.Checkmark{background-position:-264px 0;}
.sprite.Clock{background-position:-288px 0;}
.sprite.Contacts{background-position:-312px 0;}
.sprite.Cursor{background-position:-336px 0;}
.sprite.Delete{background-position:-360px 0;}
.sprite.Document{background-position:-384px 0;}
.sprite.DownloadfromtheCloud{background-position:-408px 0;}
.sprite.Facebook{background-position:-432px 0;}
.sprite.File{background-position:-456px 0;}
.sprite.Folder{background-position:-480px 0;}
.sprite.GooglePlus{background-position:-504px 0;}
.sprite.HandCursor{background-position:-528px 0;}
.sprite.Home{background-position:-552px 0;}
.sprite.Idea{background-position:-576px 0;}
.sprite.ImageFile{background-position:-600px 0;}
.sprite.Info{background-position:-624px 0;}
.sprite.InstagramOld{background-position:-648px 0;}
.sprite.Key{background-position:-672px 0;}
.sprite.LinkedIn{background-position:-696px 0;}
.sprite.Lock{background-position:-720px 0;}
.sprite.Menu{background-position:-744px 0;}
.sprite.Minus{background-position:-768px 0;}
.sprite.Music{background-position:-792px 0;}
.sprite.News{background-position:-816px 0;}
.sprite.Ok{background-position:-840px 0;}
.sprite.OpenFolder{background-position:-864px 0;}
.sprite.Picture{background-position:-888px 0;}
.sprite.Plus{background-position:-912px 0;}
.sprite.Puzzle{background-position:-936px 0;}
.sprite.Rating{background-position:-960px 0;}
.sprite.Refresh{background-position:-984px 0;}
.sprite.Search{background-position:-1008px 0;}
.sprite.Services{background-position:-1032px 0;}
.sprite.Settings{background-position:-1056px 0;}
.sprite.Share{background-position:-1080px 0;}
.sprite.Skull{background-position:-1104px 0;}
.sprite.SpeechBubble{background-position:-1128px 0;}
.sprite.Sun{background-position:-1152px 0;}
.sprite.Support{background-position:-1176px 0;}
.sprite.Synchronize{background-position:-1200px 0;}
.sprite.Trash{background-position:-1224px 0;}
.sprite.Twitter{background-position:-1248px 0;}
.sprite.Unlock{background-position:-1272px 0;}
.sprite.UploadtotheCloud{background-position:-1296px 0;}
.sprite.icon { float: left; margin: 0 1px; }